@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

:root
{
    --color-text-main: #563524;
    --color-text-dark-brown: #90553C;
    --color-clay: #877863;
    --color-main-page-bg-color:rgb(253, 250, 242);
    --font-family-serif: 'Cormorant Garamond', serif;
    --font-family-sans: 'Fira Sans', sans-serif;
    --font-family-sans-condensed: 'Fira Sans Condensed', sans-serif;
    --font-nav-control-elements: var(--font-family-sans-condensed);
    --font-family-sans-serif-grotesque: 'Darker Grotesque', sans-serif;
    --font-family-sans-nunito: 'Nunito Sans', sans-serif;
    --font-family-cursive: 'Sacramento', cursive;
    --font-family-sans-serif-3: 'Montserrat', sans-serif;
}

#nav-bar-container.about-page
{
    background-color: #C39F97;
}

#nav-bar-container.about-page .nav-link
{
    color: white;
}

.about-page.desktop .hero-logo
{
    filter: invert();
}

#welcome-section.about-page
{
    gap: 0;
}

#welcome-section.about-page img.hero
{
    width: clamp(15rem, calc(10rem + 10vw), 30rem);
    height: clamp(15rem, calc(10rem + 10vw), 30rem);
    object-fit: cover;
    border-radius: 50%;
    outline: solid 4px #C39F97;

}


#welcome-section.about-page div.hero
{
    font-size: 2rem;
    font-family: var(--font-family-sans-serif-3);
    color: #C39F97;
    margin-top: 2rem;
}

#welcome-section.about-page .hero-descr
{
    color: #816a64;
}

#welcome-section.about-page div.hero span
{
    color: #563524;
}

#welcome-section.about-page .title-cont
{
    margin-top: 5rem;
}

#welcome-section.about-page .hero-descr.about-me h3
{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 3rem;
    color: #C39F97;
}

#welcome-section.about-page .hero-descr.about-me h2
{
    color: #C39F97;
    font-family: var(--font-family-sans-serif-3);
    font-size: 1.5rem;
    font-weight: 400;
}

#welcome-section.about-page .hero-descr.about-me .about-img-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#welcome-section.about-page .hero-descr.about-me .about-img-cont img
{
    height: 10rem;
    outline: solid 3px #000000;
    margin-top: 3px;
}

#welcome-section.about-page .hero-descr.about-me div.img-caption
{
    font-style: italic;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.3rem 0 2rem 0;
}


#welcome-section.about-page .hero-descr.about-me p
{
    text-align: center;
    margin: 0 0 1.2rem;
    font-size: 1.3rem;
}

#welcome-section.about-page .title-cont .decor-line
{
    background-color: #C39F97;
}

#welcome-section.about-page .title-cont h2
{
    color: #C39F97;
}

#welcome-section.about-page .resume
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
}

#welcome-section.about-page .resume div
{
    padding: 0.5rem 0.7rem;
    background-color: #ab8b84;
    width: fit-content;
    color: white;
    border-radius: 10px;
    outline: solid 2px white;
    box-shadow: 0 0 20px black;
    transition: background-color 150ms ease-in;
}

#welcome-section.about-page .resume div:hover
{
    background-color: #8e726c;
}

#contacts.about-me
{
    background-color: #C39F97;;
}

#contacts.about-me h2
{
    color: rgba(255, 255, 255, 0.758);
}

#contacts.about-me .decor-line
{
    background-color: white;
}

#contacts.about-me .grouping .descr
{
    color: white;
}

footer.about-me
{
    padding: 1rem 0;
}