html, body{
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

html
{
    overflow: hidden;
    height: 100%;
}


body
{
    overflow: auto;
    height: 100%;
}

a
{
    text-decoration: none;
}


.display-none
{
    display: none !important;
}

/***************************************/
/***************************************/
/* Beinning of Navigation bar styles */

#nav-bar-container{
    display: flex;
    position: fixed;
    width: 100%;
    height: min-content;
    top: 0;
    text-align: center;
    background-color:  rgb(253, 250, 241);
    justify-content: space-between;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: space-around;
    width: clamp(20rem, 40vw, 30rem);
    margin-right: 1rem;
}

.nav-link{
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: transform 150ms ease-in;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
    cursor: pointer; 
    background-color: rgb(97, 95, 93);
    transform: scale(1.05);
}

#image-link:hover{
    cursor: pointer;
}

.desktop .hero-logo
{
    height: 3.5rem;
    margin: 0.5rem;
}

.mobile-header
{
    display: none;
}

.mobile-header .hero-logo,
.menu-btn-img
{
    height: 2rem;
    width: auto;
}

.mobile-header .image-link,
.mobile-header .menu-btn
{
    margin: 0.5rem;
}

.close-btn
{
    display: none;
}

.hero-logo:hover{
    cursor: pointer;
    
}

.font-fam{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}
/* Ending of Navigation bar styles */
/***************************************/
/***************************************/
/* Beinning of Welcome section styles */

#welcome-section{
    background-color: rgb(255, 247, 226);
}

#welcome-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#welcome-div-image{
    width: 100vw;
    max-height: 100vh;
    margin-top: 5rem;
}
#welcome-div-image-mobile{
    display: none;
}


/* Ending of Welcome section styles */
/***************************************/
/***************************************/
/* Beinning of Experience section styles */

#experiences{
    background-color: rgb(90, 88, 88);
}

#experience-heading{
    padding-top: 8rem;
    padding-bottom: 3rem;
    margin: 0;
    color: bisque;
    font-size: 3rem;
    text-align: center;
}

#grid-container-experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-logo{
    max-width:80%;
    margin-top: 2rem;
    max-height: 10rem;

}

.experience-div{
    text-align: center;
    background-color: beige;
    border-radius: 0.5rem;
    width:40%;
    max-width: 30rem;
    min-width: 20rem;
    margin: 2rem 0 2rem 0;
    padding-bottom: 1rem;
    
}

.individual-experience-title{
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.show-more-anchor-div{
    margin: 1rem 0 1rem 0;
    
}

.show-more-anchor{
    cursor: pointer;
    text-decoration: none;
    color: black
    
}
.show-more-anchor:hover{
    cursor: pointer;
    color: black;
    font-weight: 600;
    
}


/* Ending of Experience section styles */
/***************************************/
/***************************************/
/* Beginning of Projects section styles */


#projects{
    background-color: rgb(90, 88, 88);
}

#project-heading{
    padding-top: 8rem;
    padding-bottom: 3rem;;
    margin: 0;
    color: rgb(90, 88, 88);
    font-size: 3rem;
    text-align: center;
}

#grid-container-projects{
    display: grid;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    

}

.project-div{
    text-align: center;
    background-color: beige;
    border-radius: 0.5rem;
}


/* Ending of Projects section styles */
/***************************************/
/***************************************/
/* Beginning of Contact section styles */


#contact-section{
    background-color: rgb(82, 82, 82);
    height: 60vh;

}

#contact-section p{
    padding: 0;
    margin: 0;
}

/* Ending of Contact section styles */
/***************************************/
/***************************************/
/* Beginning of Footer section styles */

.index footer{
    width: 100vw;
    height: 40vh;
}

.social-media-profile{
    width: 3rem;
    height: 3rem;
}

.social-media-link{
    text-decoration: none;
    cursor: pointer;
}

.back-to-top{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    margin-top: 1rem;
    
}

.back-to-top:hover{
    font-weight: 600;

}

.index footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ending of Footer section styles */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Beginning of Media query styles */


@media screen and (max-width: 40em){
    

    #project-heading{
        padding-top: 10rem !important; 
        margin: 0;
        text-align: center;
    }
    #experience-heading{
        padding-top: 10rem !important; 
        margin: 0;
        text-align: center;
    }
    
    #welcome-div-image{
        display: none;
    }
    #welcome-div-image-mobile{
        display: block;
        width: 60vw;
        margin-top: 8rem;
    }

    #nav-bar-container.desktop
    {
        display: none;
        min-height: 100vh;
        min-height: 100svh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-bar-container.desktop.mobile
    {
        display: flex;
    }

    #nav-bar-container .hero-logo
    {
        height: 2rem;
    }

    #nav-bar-container.desktop.mobile .nav-logo-grouping
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        top: 0;
    }

    #navbar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        position: fixed;
        z-index: 100;
    }
    
    #nav-bar-container.desktop .hero-logo,
    #nav-bar-container.desktop .close-btn
    {
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
    }

    .close-btn
    {
        display: flex;
    }


    .mobile-header
    {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: rgb(253, 250, 241);
    }

    .mobile-header.display-none
    {
        display: none;
    }

}

/* Ending of media query styles */
/***************************************/
/***************************************/
/* General util styles */


.viewport-w-h{
    width: 100%;
    height: 100vh;
    margin-left: 0%;
    margin-right: 0%;
}

.viewport-w{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 10%;
}







