@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&display=swap');

html, body{
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

*
{
    transition: all 300ms ease-in;
}

html
{
    overflow: hidden;
    height: 100%;
}


body
{
    overflow: auto;
    height: 100%;
}

a
{
    text-decoration: none;
}

:root
{
    --color-text-main: #563524;
    --color-text-dark-brown: #90553C;
    --color-clay: #877863;
    --color-main-page-bg-color:rgb(253, 250, 242);
    --font-family-serif: 'Cormorant Garamond', serif;
    --font-family-sans: 'Fira Sans', sans-serif;
    --font-family-sans-condensed: 'Fira Sans Condensed', sans-serif;
    --font-nav-control-elements: var(--font-family-sans-condensed);
    --font-family-sans-serif-grotesque: 'Darker Grotesque', sans-serif;
}

.display-none
{
    display: none !important;
}

/***************************************/
/***************************************/
/* Beinning of Navigation bar styles */

#nav-bar-container{
    display: flex;
    position: fixed;
    width: 100%;
    height: min-content;
    top: 0;
    text-align: center;
    background-color:  #778979;
    background-color: #CBD5C0;

    justify-content: space-between;
    align-items: center;
}

#nav-bar-container.hero-page
{
    justify-content: center;
    padding: 0.5rem 0;
    background-color: var(--color-main-page-bg-color);
}

#navbar{
    display: flex;
    justify-content: space-around;
    width: clamp(20rem, 40vw, 30rem);
    margin-right: 1rem;
}

#nav-bar-container.hero-page #navbar
{
    margin: 0;
}

.nav-link{
    color: rgb(105, 105, 105);
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: color 150ms ease-in, background-color 150ms ease-in, transform 50ms ease-in;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: var(--font-family-sans-condensed);
}

.nav-link:active
{
    transform: scale(0.92);
}

.nav-logo-grouping
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo-grouping .image-link
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-link:hover{
    color: rgb(255, 255, 255);
    cursor: pointer; 
    background-color: rgb(97, 95, 93);
}

#image-link:hover{
    cursor: pointer;
}

.desktop .hero-logo
{
    height: 2.5rem;
    margin: 0.3rem;
}

.mobile-header
{
    display: none;
}

.mobile-header .hero-logo,
.menu-btn-img
{
    height: 2rem;
    width: auto;
}

.mobile-header .image-link,
.mobile-header .menu-btn
{
    margin: 0.5rem;
}

.close-btn
{
    display: none;
}

.hero-logo:hover{
    cursor: pointer;
    
}

/* Ending of Navigation bar styles */
/***************************************/
/***************************************/
/* Beginning of Welcome section styles */

.welcome-section{
    background-color: var(--color-main-page-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 5vh, 2rem);
    min-height: 100vh;
    min-height: 100svh;
}

#welcome-section .main-icon-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section .main-icon-cont img
{
    width: clamp(5rem, 5vw, 15rem);
    margin-bottom: clamp(0.5rem, calc(0.5rem + 2vh), 2rem);
}

#welcome-section .main-icon-cont .main-hero-title,
#welcome-section .main-icon-cont .sub-hero-title
{
    font-size: clamp(3rem, calc(1rem + 2vw), 8rem);
    text-align: center;
    color: var(--color-text-main);
    font-family: var(--font-family-serif);
    font-weight: 300;
    color: #778979;
    
}

#welcome-section .main-icon-cont .sub-hero-title
{
    font-size: clamp(2rem, calc(0.5rem + 2vw), 5rem);
}


#home-page-icon #nav-bar-container.hero-page .image-link
{
    display: none;
}


#welcome-section .separator-line
{
    width: clamp(20rem, 50vw, 30rem);
    height: 1.5px;
    background-color: var(--color-text-main);
}

#welcome-section .hero-descr,
#welcome-section .hero-descr-sub
{
    font-size: 1.5rem;
    text-align: center;
    width: clamp(8rem, 60vw, 130rem);
    font-weight: 400;
    font-family: var(--font-family-sans-serif-grotesque);
}

#welcome-section .hero-descr-sub
{
    font-weight: 400;
    margin-top: 0.5rem;
    font-size: 1rem;
}


#welcome-section .know-more-button
{
    padding: 0.8rem;
    font-size: 1rem;
    background-color: var(--color-text-dark-brown);
    font-family: var(--font-nav-control-elements);
    font-weight: 300;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.527);
    transition: 150ms background-color ease-in , 150ms transform ease-in;
    outline: 2px solid white;

}

#welcome-section .know-more-button:hover
{
    background-color: #778979;
    cursor: pointer;
    transform: scale(1.1);

}

#welcome-section .know-more-button:active
{
    background-color: black;
    color: white;
    transform: scale(0.96);
}

#welcome-section .down-arrow
{
    position: fixed;
    bottom: 1rem;
}

#welcome-section .down-arrow.non-hero-page
{
    display: none;
}

#welcome-section .down-arrow img
{
    width: 4rem;
    margin-top: 3rem;
    transition: transform 150ms ease;
}

#welcome-section .down-arrow img:hover
{
    transform: scale(1.2);
}
/* Ending of Welcome section styles */
/***************************************/
/***************************************/
/* Beinning of Experience section styles */

#experiences{
    background-color: rgb(90, 88, 88);
}

#experience-heading{
    padding-top: 8rem;
    padding-bottom: 3rem;
    margin: 0;
    color: bisque;
    font-size: 3rem;
    text-align: center;
}

#grid-container-experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-logo{
    max-width:80%;
    margin-top: 2rem;
    max-height: 10rem;

}

.experience-div{
    text-align: center;
    background-color: beige;
    border-radius: 0.5rem;
    width:40%;
    max-width: 30rem;
    min-width: 20rem;
    margin: 2rem 0 2rem 0;
    padding-bottom: 1rem;
    
}

.individual-experience-title{
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.show-more-anchor-div{
    margin: 1rem 0 1rem 0;
    
}

.show-more-anchor{
    cursor: pointer;
    text-decoration: none;
    color: black
    
}
.show-more-anchor:hover{
    cursor: pointer;
    color: black;
    font-weight: 600;
    
}


/* Ending of Experience section styles */
/***************************************/
/***************************************/
/* Beginning of Projects section styles */


#projects{
    background-color: var(--color-clay);
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects h2
{
    color: #CBD5C0;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0.3rem;
}

#projects .title-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#projects .decor-line
{
    height: 1.5px;
    width: 5rem;
    background-color: #CBD5C0;;
}

.project-inst-anchor
{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    text-decoration: none;
}

.project-cont .project-inst
{
    padding: 1rem;
    background-color: rgb(248, 245, 241);
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 0 0 1rem black;
    margin: 1rem;
}



.project-cont .project-inst img
{
    width: 20rem;
    height: 15rem;
    transition: opacity 100ms ease-in;
    border: none;
    padding: none;
    margin: none;
    display: block;
}

.project-cont .project-inst:hover img
{
    display: none;

}



.project-cont .project-inst .project-descr
{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family-sans-serif-grotesque);
    color: rgba(110, 110, 110, 0.787);
    display: none;
    width: 20rem;
    height: 15rem;
    transition: all 300ms ease-in;
}

.project-cont .project-inst:hover .project-descr
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cont .project-inst .project-title
{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family-sans-serif-grotesque);
    color: rgb(37, 37, 37);
    margin-bottom: 0.3rem;
}

.project-cont .project-inst .project-sub-text
{
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif-grotesque);
    color: rgba(110, 110, 110, 0.787);
}



/* Ending of Projects section styles */
/***************************************/
/***************************************/
/* Beginning of Contact section styles */


#contact-section{
    background-color: rgb(82, 82, 82);
    height: 60vh;

}

#contact-section p{
    padding: 0;
    margin: 0;
}

/* Ending of Contact section styles */
/***************************************/
/***************************************/
/* Beginning of Footer section styles */

.index footer{
    width: 100vw;
    height: 40vh;
}

.social-media-profile{
    width: 3rem;
    height: 3rem;
}

.social-media-link{
    text-decoration: none;
    cursor: pointer;
}

.back-to-top{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    margin-top: 1rem;
    
}

.back-to-top:hover{
    font-weight: 600;

}

.index footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ending of Footer section styles */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Beginning of Media query styles */


@media screen and (max-width: 40em){
    

    #project-heading{
        padding-top: 10rem !important; 
        margin: 0;
        text-align: center;
    }
    #experience-heading{
        padding-top: 10rem !important; 
        margin: 0;
        text-align: center;
    }
    
    #welcome-div-image{
        display: none;
    }
    #welcome-div-image-mobile{
        display: block;
        width: 60vw;
        margin-top: 8rem;
    }

    #nav-bar-container.desktop
    {
        display: none;
        min-height: 100vh;
        min-height: 100svh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-bar-container.desktop.mobile
    {
        display: flex;
    }

    #nav-bar-container .hero-logo
    {
        height: 2rem;
    }

    #nav-bar-container.desktop.mobile .nav-logo-grouping
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
    }

    #navbar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    
    #nav-bar-container.desktop .hero-logo,
    #nav-bar-container.desktop .close-btn
    {
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
    }

    .close-btn
    {
        display: flex;
    }


    .mobile-header
    {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: var(--color-main-page-bg-color);
    }

    .mobile-header.display-none
    {
        display: none;
    }

    #home-page-icon #nav-bar-container.hero-page .image-link
    {
        display: flex;
    }

    #welcome-section .main-icon-cont .main-hero-title,
    #welcome-section .main-icon-cont .sub-hero-title
    {
        width: 90vw;
        font-size: clamp(2rem, calc(1rem + 2vw), 5rem);
    }

    #welcome-section .main-icon-cont .sub-hero-title
    {
        font-size: clamp(1.5rem, calc(0.5rem + 2vw), 3rem);
    }

    #welcome-section .separator-line
    {
        width: 80vw;
        height: 1.5px;
    }

    #welcome-section .hero-descr,
    #welcome-section .hero-descr-sub
    {
        width: 90vw;
    }

    #welcome-section .down-arrow img
    {
        width: 2rem;
    }

}

/* Ending of media query styles */
/***************************************/
/***************************************/
/* General util styles */



.viewport-w{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 10%;
}







