@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&display=swap');


html, body{
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

/* *
{
    transition: all 300ms ease-in;
} */

html
{
    overflow: hidden;
    height: 100%;
}


body
{
    overflow: auto;
    height: 100%;
}

a
{
    text-decoration: none;
}

:root
{
    --color-text-main: #563524;
    --color-text-dark-brown: #90553C;
    --color-clay: #877863;
    --color-main-page-bg-color:rgb(253, 250, 242);
    --font-family-serif: 'Cormorant Garamond', serif;
    --font-family-sans: 'Fira Sans', sans-serif;
    --font-family-sans-condensed: 'Fira Sans Condensed', sans-serif;
    --font-nav-control-elements: var(--font-family-sans-condensed);
    --font-family-sans-serif-grotesque: 'Darker Grotesque', sans-serif;
    --font-family-sans-nunito: 'Nunito Sans', sans-serif;
}

.display-none
{
    display: none !important;
}

/***************************************/
/***************************************/
/* Beinning of Navigation bar styles */

#nav-bar-container{
    display: flex;
    position: fixed;
    width: 100%;
    height: min-content;
    top: 0;
    text-align: center;
    background-color:  #778979;
    background-color: #CBD5C0;
    z-index: 1200;
    justify-content: space-between;
    align-items: center;
    transition: background-color 150ms ease-in;
}

#nav-bar-container.hero-page
{
    justify-content: center;
    padding: 0.5rem 0;
    background-color: var(--color-main-page-bg-color);
    transition: background-color 150ms ease-in;
}

#navbar{
    display: flex;
    justify-content: space-around;
    width: clamp(20rem, 40vw, 30rem);
    margin-right: 1rem;
}

#nav-bar-container.hero-page #navbar
{
    margin: 0;
}

.nav-link{
    color: rgb(105, 105, 105);
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    padding: 0.7rem;
    border-radius: 0.3rem;
    transition: color 150ms ease-in, background-color 150ms ease-in, transform 50ms ease-in;
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font-family-sans-condensed);
}

.nav-link:active
{
    transform: scale(0.92);
}

.nav-logo-grouping
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo-grouping .image-link
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-link:hover{
    color: rgb(255, 255, 255);
    cursor: pointer; 
    background-color: rgb(97, 95, 93);
    outline: solid 2px white;
}

#image-link:hover{
    cursor: pointer;
}

.desktop .hero-logo
{
    height: 3rem;
    margin: 0.3rem;
}

.mobile-header
{
    display: none;
}

.mobile-header .hero-logo,
.menu-btn-img
{
    height: 2rem;
    width: auto;
}

.mobile-header .image-link,
.mobile-header .menu-btn
{
    margin: 0.5rem;
}

.close-btn
{
    display: none;
}

.hero-logo:hover{
    cursor: pointer;
    
}

/* Ending of Navigation bar styles */
/***************************************/
/***************************************/
/* Beginning of Welcome section styles */

.welcome-section{
    background-color: var(--color-main-page-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 5vh, 2rem);
    min-height: 100vh;
    min-height: 100svh;
}

#welcome-section .main-icon-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section .main-icon-cont img
{
    width: clamp(5rem, 5vw, 15rem);
    margin-bottom: clamp(0.5rem, calc(0.5rem + 2vh), 2rem);
}

#welcome-section .main-icon-cont .main-hero-title,
#welcome-section .main-icon-cont .sub-hero-title
{
    font-size: clamp(3rem, calc(1rem + 2vw), 8rem);
    text-align: center;
    color: var(--color-text-main);
    font-family: var(--font-family-serif);
    font-weight: 300;
    color: #778979;
    
}

#welcome-section .main-icon-cont .sub-hero-title
{
    font-size: clamp(2rem, calc(0.5rem + 2vw), 5rem);
}


#home-page-icon #nav-bar-container.hero-page .image-link
{
    display: none;
}


#welcome-section .separator-line
{
    width: clamp(20rem, 50vw, 30rem);
    height: 1.5px;
    background-color: var(--color-text-main);
}

#welcome-section .hero-descr,
#welcome-section .hero-descr-sub
{
    font-size: 1.5rem;
    text-align: center;
    width: clamp(8rem, 60vw, 130rem);
    font-weight: 400;
    font-family: var(--font-family-sans-serif-grotesque);
}

#welcome-section .hero-descr-sub
{
    font-weight: 400;
    margin-top: 0.5rem;
    font-size: 1rem;
}


#welcome-section .know-more-button
{
    padding: 0.8rem;
    font-size: 1rem;
    background-color: var(--color-text-dark-brown);
    font-family: var(--font-nav-control-elements);
    font-weight: 300;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.527);
    transition: 150ms background-color ease-in , 150ms transform ease-in;
    outline: 2px solid white;

}

#welcome-section .know-more-button:hover
{
    background-color: #778979;
    cursor: pointer;
    transform: scale(1.1);

}

#welcome-section .know-more-button:active
{
    background-color: black;
    color: white;
    transform: scale(0.96);
}

#welcome-section .down-arrow
{
    position: fixed;
    bottom: 1rem;
}

#welcome-section .down-arrow.non-hero-page
{
    display: none;
}

#welcome-section .down-arrow img
{
    width: 4rem;
    margin-top: 3rem;
    transition: transform 150ms ease;
}

#welcome-section .down-arrow img:hover
{
    transform: scale(1.2);
}
/* Ending of Welcome section styles */
/***************************************/
/***************************************/
/* Beginning of Common section styles */
.section-common-def
{
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0;
}

.section-common-h2
{
    color: #CBD5C0;
    font-size: clamp(1.5rem, calc(0.5rem + 5vw), 3rem);
    font-weight: 300;
    margin: 0 0.3rem;
    text-align: center;
}

.title-cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.decor-line
{
    height: 1.5px;
    width: clamp(1rem, calc(0.5rem + 3vw), 5rem);
    background-color: #CBD5C0;
}

a
{
    text-decoration: none;
}
/* Ending of Common section styles */
/***************************************/
/***************************************/
/* Beginning of Projects section styles */


#projects{
    background-color: var(--color-clay);
    background-color: #28312B;
}

.project-cont
{
    display: grid;
    grid-gap: 1rem;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 25rem));
    justify-content: center;
    align-items: center;
}


.project-inst-anchor
{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.project-cont .project-inst
{
    padding: 1rem;
    background-color: rgb(248, 245, 241);
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 0 0 1rem black;
    margin: 1rem;
    width: fit-content;
    overflow: hidden;
}



.project-cont .project-inst img
{
    width: 20rem;
    height: 15rem;
    transition: opacity 100ms ease-in;
    border: none;
    padding: none;
    margin: none;
    display: block;
    object-fit: cover;
    background-color: #28312B;
}

.project-cont .project-inst:hover img
{
    display: none;

}



.project-cont .project-inst .project-descr
{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family-sans-serif-grotesque);
    color: rgba(110, 110, 110, 0.787);
    display: none;
    width: 20rem;
    height: 15rem;
    transition: all 300ms ease-in;
}

.project-cont .project-inst:hover .project-descr
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cont .project-inst .project-title
{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family-sans-serif-grotesque);
    color: rgb(37, 37, 37);
    margin-bottom: 0.3rem;
}

.project-cont .project-inst .project-sub-text
{
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif-grotesque);
    color: rgba(110, 110, 110, 0.787);
}



/* Ending of Projects section styles */
/***************************************/
/***************************************/
/* Beinning of Experience section styles */

#experiences{
    background-color: #1a1d18;
}


#experiences .title-cont
{
    margin-bottom: 5rem;
}

.experience-cont
{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 6rem;
}

.experience-cont:before
{
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: #CBD5C0;
    left: 50%;
    transform: translate(-50%);
    content: "";
    top: 0;
    bottom: 0;
    z-index: -1;
}

#experiences .experience-inst
{
    width: 100%;
}

#experiences .desktop-grouping
{
    width: clamp(30rem, 100%, 100rem);
    color: rgb(143, 140, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-sans-serif-grotesque);
    font-size: 1.1rem;
    font-weight: 500;
}


#experiences .experience-title
{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    width: 20rem;

}

#experiences .location
{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: right;
}

#experiences .position-date-cont
{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    width: auto;

}

#experiences .position
{
    margin-right: 1rem;
    text-align: right;
}

#experiences .experience-logo-cont.desktop img,
#experiences .experience-logo-cont.mobile img
{
    width: 85%;
    object-fit: cover;
}

#experiences .experience-logo-cont.desktop img.palakkad,
#experiences .experience-logo-cont.mobile img.palakkad
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#experiences .date
{
    white-space: nowrap;
}

#experiences .experience-logo-cont.desktop
{
    width: 6rem;
    aspect-ratio : 1 / 1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    outline: solid 4px #CBD5C0;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#experiences .experience-logo-cont.mobile
{
    display: none;
}

#experiences .experience-descr
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    text-align: left;
}

#experiences .experience-inst.inverted .desktop-grouping
{
    flex-direction: row-reverse;
}

#experiences .experience-inst.inverted .experience-title
{
    align-items: flex-start;
}

#experiences .experience-inst.inverted .experience-descr
{
    text-align: right;
}

#experiences .experience-inst.inverted .location
{
    text-align: left;
}

/* Ending of Experience section styles */
/***************************************/
/***************************************/
/* Beginning of Contact section styles */


#contacts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #778979;
}

#contacts .grouping
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-sans-serif-grotesque);
    margin-bottom: 4rem;
}

#contacts .grouping div
{
    font-size: 1.3rem;
    color: rgb(206, 204, 204);
}

#contacts .grouping a
{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 0.5rem;
}


/* Ending of Contact section styles */
/***************************************/
/***************************************/
/* Beginning of Footer section styles */


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 4rem 0;
}

.social-media-profile{
    width: 3rem;
    height: 3rem;
}

.social-media-link{
    text-decoration: none;
    cursor: pointer;
    transition: opacity 100ms ease-in;
}

.social-media-link:hover
{
    opacity: 0.7;
}

.back-to-top
{
    position: fixed;
    bottom: 1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 2px solid white;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 1rem black;
    transition: opacity 100ms ease-in;
}

.back-to-top img
{
    filter: invert();
    width: 2rem;
    margin: 0.5rem;
    transition: transform 100ms ease-in;
}


.back-to-top:hover img
{
    transform: scale(1.3);
}

.back-to-top:hover
{
    background-color: #563524;
}

.back-to-top:active img
{
    transform: scale(0.95);
}

.back-to-top.top
{
    display: none;
}

/* Ending of Footer section styles */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Beginning of Media query styles */


@media screen and (max-width: 40em){
    

    #project-heading{
        padding-top: 10rem !important; 
        margin: 0;
        text-align: center;
    }
    #experience-heading{
        padding-top: 10rem !important; 
        margin: 0;
        text-align: center;
    }
    
    #welcome-div-image{
        display: none;
    }
    #welcome-div-image-mobile{
        display: block;
        width: 60vw;
        margin-top: 8rem;
    }

    #nav-bar-container.desktop
    {
        display: none;
        min-height: 100vh;
        min-height: 100svh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-bar-container.desktop.mobile
    {
        display: flex;
    }

    #nav-bar-container .hero-logo
    {
        height: 2rem;
    }

    #nav-bar-container.desktop.mobile .nav-logo-grouping
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 1200;
        top: 0;
    }

    #navbar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    
    #nav-bar-container.desktop .hero-logo,
    #nav-bar-container.desktop .close-btn
    {
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
    }

    .close-btn
    {
        display: flex;
    }


    .mobile-header
    {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1200;
        width: 100%;
        background-color: var(--color-main-page-bg-color);
    }

    .mobile-header.display-none
    {
        display: none;
    }

    #home-page-icon #nav-bar-container.hero-page .image-link
    {
        display: flex;
    }

    #welcome-section .main-icon-cont .main-hero-title,
    #welcome-section .main-icon-cont .sub-hero-title
    {
        width: 90vw;
        font-size: clamp(2rem, calc(1rem + 2vw), 5rem);
    }

    #welcome-section .main-icon-cont .sub-hero-title
    {
        font-size: clamp(1.5rem, calc(0.5rem + 2vw), 3rem);
    }

    #welcome-section .separator-line
    {
        width: 80vw;
        height: 1.5px;
    }

    #welcome-section .hero-descr,
    #welcome-section .hero-descr-sub
    {
        width: 90vw;
    }

    #welcome-section .down-arrow img
    {
        width: 2rem;
    }

    .project-cont .project-inst img
    {
        width: 16rem;
        height: 12rem;
    }

    .project-cont .project-inst .project-descr
    {
        display: flex;
        font-size: 1rem;
        width: 16rem;
        height: fit-content;
        font-weight: 500;
        margin-top: 0.3rem;

    }

    .project-cont .project-inst
    {
        padding: 0.5rem;
    }

    .project-cont .project-inst .project-sub-text
    {
        font-size: 0.9rem;
    }

    .project-cont .project-inst .project-title
    {
        margin-bottom: 0;
    }

    .title-cont
    {
        margin: 4rem 0 1rem 0;
    }

    #experiences .experience-logo-cont.desktop
    {
        display: none;
    }

    #experiences .experience-logo-cont.mobile
    {
        display: flex;
        margin-left: 0;
    }

    #experiences .experience-inst.inverted
    {
        flex-direction: row;
    }

    #experiences .experience-inst
    {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #experiences .experience-inst.inverted .desktop-grouping,
    #experiences .experience-inst .desktop-grouping
    {
        display: flex;
        flex-direction: column;
        width: fit-content;

    }

    #experiences .experience-inst.inverted .experience-title,
    #experiences .experience-inst .experience-title
    {
        align-items: flex-start;
    }

    #experiences .experience-inst.inverted .experience-descr,
    #experiences .location
    {
        text-align: left;
    }

    #experiences .location
    {
        margin: 0;
        font-size: 1.1rem;
    }

    #experiences .experience-descr
    {
        margin-top: 0.5rem;
        font-size: 1rem;
        width: 15rem;
    }

    #experiences .experience-title
    {
        width: 15rem;
    }

    #experiences .experience-logo-cont.mobile
    {
        width: 3rem;
        aspect-ratio : 1 / 1;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        outline: solid 2px #CBD5C0;
        margin: 0 1rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .experience-cont:before
    {
        left: 1.6rem;
    }

    #experiences .position
    {
        text-align: left;
    }

    #experiences .position-date-cont
    {
        width: 100%;
    }

}

/* Ending of media query styles */
/***************************************/
/***************************************/
/* General util styles */



.viewport-w{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 10%;
}







