/* 
Global style */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html, body
{

    scroll-behavior: smooth;
    text-align: center;
    color: white;
}

html
{
    overflow: hidden;
    height: 100%;
}


body
{
    overflow: auto;
    height: 100%;
    color: var(--color-primary);
}

a
{
    text-decoration: none;
}

:root{
    --font-color-main: rgb(255, 255, 255);
    --bg-color-gallery: #85AF4E;
    --bg-color-smiles: #626460;
    --nav-bar-h: 5rem;
    --font-family-main-title: 'Jost', sans-serif;
    --font-size-content-default: clamp(1rem, 1rem + 0.36vw, 2rem);
    --line-height-content-default: 1.6;
    --font-size-floating-panel: clamp(0.7rem, 0.5rem + 0.3vw, 1rem);
    --font-size-article-title: clamp(2.3rem, 8vw, 8rem);
    --font-family-descr: 'EB Garamond', serif;
}

.photography,
.smiles
{
    display: flex;
}


.photography .descr-section-title,
.smiles .descr-section-title
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 1vw, 2rem);
}


.photography.head #nav-bar-container,
.photography.head header
{
    background-color: white;
}

.photography.head.type-smile #nav-bar-container,
.photography.head.type-smile header
{
    background-color: black;
}

a
{
    text-decoration: none;
}

.smiles .option-text,
.photography .option-text
{
    color: white;
    font-size: 0.8rem;
}

.smiles .bottom-floating-panel
{
    background-color: black;
    padding: 0.8rem;
    border-radius: 20px;
    transition: transform 150ms ease-in;
    margin-top: 1rem;
    box-shadow: 3px 3px 1px white;
}

.photography .bottom-floating-panel
{
    background-color: rgb(97, 97, 97);
    padding: 0.8rem;
    border-radius: 20px;
    margin-top: 3rem;
    transition: transform 150ms ease-in;
    box-shadow: 3px 3px 1px black;
}


.photography .bottom-floating-panel:hover
{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 3px 3px 1px white;
}


.smiles .bottom-floating-panel:hover
{
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 3px 3px 1px black;
}

.smiles .bottom-floating-panel:hover .option-text
{
    color: black;
}


.smiles .option-logo,
.photography .option-logo
{
    filter: invert();
}

.smiles .bottom-floating-panel:hover .option-logo
{
    filter: none;
}

.smiles.intro #image-link2,
.photography.intro #image-sect-link
{
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.photography.intro #Kevin-jose-sect-logo,
.smiles.intro #Kevin-jose-sect-logo2
{
    height: 3rem;
    filter: none;
}

.photography.intro #Kevin-jose-sect-logo:hover,
.smiles.intro #Kevin-jose-sect-logo2:hover
{
    filter: invert();
}

.photography.head .nav-link
{
    color: black;
    transition: transform 15 0ms ease-in;
}
.photography.head .nav-link:hover
{
    background-color: rgb(61, 61, 61);
    transform: scale(1.1);
    color: white;

}

.photography.head.type-smile .nav-link
{
    color: white;
    transition: transform 15 0ms ease-in;
}
.photography.head.type-smile .nav-link:hover
{
    background-color: rgb(163, 163, 163);
    transform: scale(1.1);
    color: black

}


.display-none
{
    display: none !important;
}


.photography .descr-section-title 
{
    background-color: var(--bg-color-gallery);
    min-height: 100vh;
    min-height: 100svh;
    width: 40%;
    position: fixed;
    
}

.smiles .descr-section-title
{
    background-color: var(--bg-color-smiles);
    min-height: 100vh;
    min-height: 100svh;
    width: 40%;
    position: fixed;
}

.photography .main-title,
.smiles .main-title
{
    font-size: clamp(2.5rem, calc(5vw), 8rem);
    text-align: center;
    width: 60%;
    line-height: 0.8;
    margin-bottom: 3rem;
    font-family: var(--font-family-main-title);
}

.photography .descr span
{
    font-size: 1.1em;
}

.photography .descr,
.smiles .descr
{
    width: 90%;
    font-size: 1em;
    font-family: var(--font-family-descr);
}

.photography .social-media-profile,
.smiles .social-media-profile
{
    width: clamp(1rem, calc(1rem + 1vw), 2rem);
    height: auto;
}

.photography footer,
.smiles footer
{
    position: absolute;
    bottom: 1rem;
}

.photography h5,
.smiles h5
{
    font-size: 0.5rem;
    margin: 0 0 0.5rem 0;
}

#photography-gallery-section,
#smiles-gallery-section
{
    width: 60%;
    padding-top: 5rem;
    margin-left: 40%;
}

#smiles-gallery-section
{
    background-color: black;
}

.photography .gallery-photo
{
    max-width: 80%;
    max-height: 75vh;
    margin: 1rem 0;
    outline: solid 5px black;
}

.smiles .gallery-photo
{
    max-width: 80%;
    max-height: 80vh;

}

#photography-page-footer
{
    display: none;
}
/* 
gallery section begins */

@media (max-width: 40em) {
    .photography .descr-section-title,
    .smiles .descr-section-title
    {
        width: 100%;
        position: static;
        min-height: 100vh;
        min-height: 100svh;
        height: fit-content;
    }

    .photography,
    .smiles
    {
        flex-direction: column;
    }

    #photography-gallery-section,
    #smiles-gallery-section
    {
        width: 100%;
        padding-top: 1rem;
        margin-left: 0;
    }
    
    .photography .descr,
    .smiles .descr
    {
        width: 90%;
        font-size: clamp(1rem, 0.5rem + 10vw, 1.2rem);
        font-family: var(--font-family-descr);
    }
    .photography footer,
    .smiles footer
    {
        display: none;
    }

    #photography-page-footer
    {
        display:block;
        margin-bottom: 1rem;
    }

    #photography-page-footer h5
    {
        font-size: 0.5rem;
        margin: 0 0 0.5rem 0;
        color: black;
    }
    #photography-page-footer .social-media-profile
    {
        width: clamp(1rem, calc(1rem + 1vw), 2rem);
        height: auto;
    }

    #image-sect-link,
    #image-link2
    {
        display: none;
    }

}